<%= form_for @subcategory, html: { multipart: true }  do |f| %>
<div class="row">
 <div class="col-md-12"> 
  <%= f.label :name, :class => '' %>
  <%= f.text_field :name, :class => '' %>
  <%= f.label :description, :class => '' %>
  <%= f.text_area :description, :class => ' ' %>

  </div>
</div>
</div>
<hr>
<input id="contact-form-submit" type="submit" value="SUBMIT">
<img src="images/loader.gif" id="contact-loader" alt="Loading...">
<div id="error-container"></div>
<div id="response-container"></div>


<% end %>


